table {
    width : 210px;
    table-layout : fixed;
    border-radius : 20px;
    padding : 15px;
    background-color : black;
}

td {
    text-align : center;
    color : white;
    border-radius : 50%;
    padding : 10px;
}

.btn_gray {
    background-color : rgb(194, 194, 194);
    color : rgb(34, 34, 34);
}

.btn_gray2{
    background-color : rgb(103, 103, 103);
}

.btn_yellow {
    background-color : rgb(255, 180, 29);
}

.btn_rect {
    border-radius : 20px;
}

.calculator_result {
    text-align : right;
}